body {
  text-align:center;
  font-family:"Garamond";
}
#navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align:center;
  background-color:#ffffff;
  table-layout: fixed;
  width:50%;
  height:7%;
}
.navbar-button{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-weight:normal;
  padding:10px;
  vertical-align: middle;
  width: 46%;
  height:75%;
  font-size:1.27em;
}
.navbar-button:hover { 
  background-color:#fffd8c;
}
.nav-links {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-decoration: none; 
  color : #000000;
  width:50%;
  height:100%;
  display:block;
}
.nav-links:hover{
  text-decoration:none;
}
